@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Prompt:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anuphan&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body.active {
  background: rgb(43, 57, 69);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.head.active h2 {
  color: #fff;
}

.countries.active h5 {
  color: #fff;
}
.countries.active span {
  color: #fff;
}
.countries.active p {
  color: #fff;
}

.circle.active {
  -webkit-transform: translateX(34px);
          transform: translateX(34px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  height: 90px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.head h1 {
  font-family: "Prompt", sans-serif;
}
.head p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: black;
}
.head .toggle {
  position: relative;
  border-radius: 10px;
  width: 60px;
  height: 25px;
  background-color: rgb(212, 212, 212);
}
.head .toggle .circle {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.head .toggle .sun {
  position: absolute;
  right: 3px;
}
.head .toggle .moon {
  position: absolute;
  left: 4px;
}
.head .toggle img {
  width: 20px;
  cursor: pointer;
}
.head button > img {
  width: 42px;
  height: 38px;
  cursor: pointer;
}

.inputbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
}
.inputbox label {
  position: relative;
}
.inputbox input {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  padding: 20px;
}
.inputbox .clear {
  position: absolute;
  width: 13px;
  height: 13px;
  right: 10px;
  top: 17px;
  cursor: pointer;
}
.inputbox #light {
  cursor: pointer;
}
.inputbox__inp1 {
  width: 280px;
  height: 55px;
}
.inputbox .search {
  position: absolute;
  left: 18%;
  top: 35px;
  width: 20px;
}
.inputbox .region {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  width: 200px;
  height: 50px;
}
.inputbox .region option {
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  padding: 17px;
  font-size: 15px;
  color: black;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  background-color: rgb(203, 203, 203);
}

.countries {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 15px;
}
.countries__box {
  font-family: "Anuphan", sans-serif;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.countries__box * {
  color: black;
}
.countries__box img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 240px;
  height: 130px;
}
.countries__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.countries__textbox p {
  margin-left: 9px;
  font-weight: bold;
}
.countries__textbox span {
  margin-left: 3px;
  font-weight: normal !important;
}
.countries__textbox h5 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */